<h1>List of <%= link_to "#{@network.name}", "/networks/#{@network.id}"%> Shows</h1>
<h3># of Shows: <%= @network.shows.shows_count %></h3>
<%= link_to 'Home', "/" %><br/>
<%= link_to "Create Show", "/networks/#{@network.id}/shows/new" %><br/>

<%= form_tag ("/networks/#{ @network.id }/shows"), method: :get do %>
  <%= label_tag :name, "Filter by # of Seasons:" %>
  <%= text_field_tag :num_of_seasons %>
  <%= submit_tag 'Filter' %>
<% end %>

<% @shows.each do |show| %>
  <h3><%= link_to "#{show.name}", "/shows/#{show.id}" %></h3>
  <li>Daytime Show:<%= show.daytime_show %></li>
  <li>Number of Seasons:<%= show.num_of_seasons %></li>
  <h6><%= link_to "Update #{show.name}", "shows/#{show.id}/edit" %></h6>
  <h6><%= link_to "Delete #{show.name}", "shows/#{show.id}/delete" %></h6>
<% end %>
