<h1>List of <%= link_to "#{@network.name}", "/networks/#{@network.id}"%> Shows</h1>
<%= link_to 'Home', "/" %><br/>
<%= link_to "Create Show", "/networks/#{@network.id}/shows/new" %><br/>

<%= form_tag ("/networks/#{ @network.id }/shows"), method: :get do %>
  <%= label_tag :name, "Filter by # of Seasons:" %>
  <%= text_field_tag :num_of_seasons %>
  <%= submit_tag 'Filter' %>
<% end %>

<% @shows.each do |show| %>
  <h3><%= link_to "#{show.name}", "/shows/#{show.id}" %></h3>
  <p>Daytime Show:<%= show.daytime_show %></p>
  <p>Number of Seasons:<%= show.num_of_seasons %></p>
  <h5><%= link_to "Update Show", "shows/#{show.id}/edit" %></h5>
  <h5><%= link_to "Delete Show", "shows/#{show.id}/delete" %></h5>
<% end %>
