<a href="/restaurant">Restaurant Index</a>
<%= form_tag "/dishes" do %>
<%= @dish.name %><br>
<%= @dish.spicy %><br/>
<%= @dish.taste %>
<%= link_to "Update Dish", "/dishes/#{@dish.id}/edit"%>
<%= link_to 'Delete Dish', "/dishes/#{@dish.id}", method: :delete %>
<% end %>
