<p>Enter a new restaurant</p>
<%= form_tag "/restaurants", method: :post do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %><br>
  <%= label_tag :date_opened %>
  <%= text_field_tag :date_opened %><br>
  <%= label_tag :style %>
  <%= text_field_tag :style %><br>
  <%= submit_tag 'Create Restaurant' %>
<% end %>
