<h1><%= @restaurant.name %></h1>
<p>Opened on <%= @restaurant.date_opened %><br/>
Style: <%= @restaurant.style %></p>
<a href="/restaurants/<%= @restaurant.id %>/dishes">Featured Dishes</a><br/>

<a href="/restaurants/<%= @restaurant.id %>/edit">Update Restaurant</a>
  <br/>
<%= link_to 'Delete Restaurant', "/restaurants/#{@restaurant.id}", method: :delete %>
