<a href="/restaurants">Restaurant Index</a>

<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.date_opened %></p>
<p><%= @restaurant.style %></p>

<a href="/restaurants/<%= @restaurant.id %>/edit">Update Restaurant</a>
  <br/>
  <form action='/restaurants/<%= @restaurant.id %>' method='POST'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
  <input type='hidden' name='_method' value='DELETE'>
  <input type='submit' value='delete'/>
</form>
