<a href="/restaurants">Restaurant Index</a>

<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.date_opened %><br/>
<%= @restaurant.style %></p>
<a href="/restaurants/<%= @restaurant.id %>/dishes">Featured Dishes</a><br/>

<a href="/restaurants/<%= @restaurant.id %>/edit">Update Restaurant</a>
  <br/>
<%= link_to 'Delete Restaurant', "/restaurants/#{@restaurant.id}", method: :delete %>
