<h1><%= @show.name %></h1>
<h4> Daytime Show: <%= @show.daytime_show %></h4>
<h4> Number of Seasons: <%= @show.num_of_seasons %></h4>
<br>
<a href="/shows/<%= @show.id %>/edit"> Update Show</a>
<br>
<%= link_to 'Delete Show', "/shows/#{@show.id}", method: :delete %>
<br/>
<a href="/shows/#{@show.id}">Back to Shows</a>

